.vs
*.d
*.i
*.o
*.s
P8000_WDC_Emulator_6_1.atsln
P8000_WDC_Emulator/Debug/P8000_WDC_Emulator.*
P8000_WDC_Emulator/Hardware/P8000_WDC_Emulator.bak
P8000_WDC_Emulator/Hardware/P8000_WDC_Emulator-cache.lib
P8000_WDC_Emulator/P8000_WDC_Emulator_6_1.cproj
P8000_WDC_Emulator/Hardware/.~lock.P8000_WDC_Emulator_Parts.ods#
P8000_WDC_Emulator/Hardware/P8000_WDC_Emulator.000
P8000_WDC_Emulator/Hardware/P8000_WDC_Emulator.kicad_pcb-bak
